# Case Study 1 ("Singapore Airbnb")

I think the best machine learning system to be applied for this case is unsupervised learning. Because unsupervised learning enables us to find a pattern within a dataset without having us to know it first.

1. Import Pandas Module

In [1]:
import pandas as pd

2. Import "listings.csv"

In [2]:
sgData=pd.read_csv("listings.csv")

3. Print Data

In [3]:
print(sgData)

            id                                               name    host_id  \
0        49091                  COZICOMFORT LONG TERM STAY ROOM 2     266763
1        50646                    Pleasant Room along Bukit Timah     227796
2        56334                                        COZICOMFORT     266763
3        71609                Ensuite Room (Room 1 & 2) near EXPO     367042
4        71896                    B&B  Room 1 near Airport & EXPO     367042
...        ...                                                ...        ...
7902  38105126  Loft 2 pax near Haw Par / Pasir Panjang. Free ...  278109833
7903  38108273                         3bedroom luxury at Orchard  238891646
7904  38109336    [ Farrer Park ] New City Fringe CBD Mins to MRT  281448565
7905  38110493          Cheap Master Room in Central of Singapore  243835202
7906  38112762  Amazing room with private bathroom walk to Orc...   28788520

      host_name neighbourhood_group neighbourhood  latitude  longitude  \
0     Francesca        North Region     Woodlands   1.44255  103.79580
1       Sujatha      Central Region   Bukit Timah   1.33235  103.78521
2     Francesca        North Region     Woodlands   1.44246  103.79667
3       Belinda         East Region      Tampines   1.34541  103.95712
4       Belinda         East Region      Tampines   1.34567  103.95963
...         ...                 ...           ...       ...        ...
7902      Belle      Central Region    Queenstown   1.27973  103.78751
7903       Neha      Central Region       Tanglin   1.29269  103.82623
7904      Mindy      Central Region       Kallang   1.31286  103.85996
7905      Huang      Central Region  River Valley   1.29543  103.83801
7906    Terence      Central Region  River Valley   1.29672  103.83325

            room_type  price  minimum_nights  number_of_reviews last_review  \
0        Private room     83             180                  1  2013-10-21
1        Private room     81              90                 18  2014-12-26
2        Private room     69               6                 20  2015-10-01
3        Private room    206               1                 14  2019-08-11
4        Private room     94               1                 22  2019-07-28
...               ...    ...             ...                ...         ...
7902  Entire home/apt    100               3                  0         NaN
7903  Entire home/apt    550               6                  0         NaN
7904     Private room     58              30                  0         NaN
7905     Private room     56              14                  0         NaN
7906     Private room     65              90                  0         NaN

      reviews_per_month  calculated_host_listings_count  availability_365
0                  0.01                               2               365
1                  0.28                               1               365
2                  0.20                               2               365
3                  0.15                               9               353
4                  0.22                               9               355
...                 ...                             ...               ...
7902                NaN                              31                61
7903                NaN                              34               365
7904                NaN                               3               173
7905                NaN                               2                30
7906                NaN                               7               365

[7907 rows x 16 columns]

4. Find Max and Min

In [10]:
for i in sgData:
    if sgData[i].dtypes != object:
        print(i," Max Value: ", sgData[i].max())
        print(i, " Min Value: ", sgData[i].min())

id  Max Value:  38112762
id  Min Value:  49091
host_id  Max Value:  288567551
host_id  Min Value:  23666
latitude  Max Value:  1.45459
latitude  Min Value:  1.24387
longitude  Max Value:  103.97341999999999
longitude  Min Value:  103.64656
price  Max Value:  10000
price  Min Value:  0
minimum_nights  Max Value:  1000
minimum_nights  Min Value:  1
number_of_reviews  Max Value:  323
number_of_reviews  Min Value:  0
reviews_per_month  Max Value:  13.0
reviews_per_month  Min Value:  0.0
calculated_host_listings_count  Max Value:  274
calculated_host_listings_count  Min Value:  1
availability_365  Max Value:  365
availability_365  Min Value:  0

5. Eliminate the Null Values

In [5]:
print("Length BEFORE Null Values are Removed: " ,len(sgData))
sgDataDeletedNull = sgData.dropna()
print("Length AFTER Null Values are Removed: " ,len(sgDataDeletedNull))

Length BEFORE Null Values are Removed:  7907
Length AFTER Null Values are Removed:  5148

6. Replace the Null Values with 0

Data BEFORE Replacing the Null Values With 0

In [6]:
print(sgData)

            id                                               name    host_id  \
0        49091                  COZICOMFORT LONG TERM STAY ROOM 2     266763
1        50646                    Pleasant Room along Bukit Timah     227796
2        56334                                        COZICOMFORT     266763
3        71609                Ensuite Room (Room 1 & 2) near EXPO     367042
4        71896                    B&B  Room 1 near Airport & EXPO     367042
...        ...                                                ...        ...
7902  38105126  Loft 2 pax near Haw Par / Pasir Panjang. Free ...  278109833
7903  38108273                         3bedroom luxury at Orchard  238891646
7904  38109336    [ Farrer Park ] New City Fringe CBD Mins to MRT  281448565
7905  38110493          Cheap Master Room in Central of Singapore  243835202
7906  38112762  Amazing room with private bathroom walk to Orc...   28788520

      host_name neighbourhood_group neighbourhood  latitude  longitude  \
0     Francesca        North Region     Woodlands   1.44255  103.79580
1       Sujatha      Central Region   Bukit Timah   1.33235  103.78521
2     Francesca        North Region     Woodlands   1.44246  103.79667
3       Belinda         East Region      Tampines   1.34541  103.95712
4       Belinda         East Region      Tampines   1.34567  103.95963
...         ...                 ...           ...       ...        ...
7902      Belle      Central Region    Queenstown   1.27973  103.78751
7903       Neha      Central Region       Tanglin   1.29269  103.82623
7904      Mindy      Central Region       Kallang   1.31286  103.85996
7905      Huang      Central Region  River Valley   1.29543  103.83801
7906    Terence      Central Region  River Valley   1.29672  103.83325

            room_type  price  minimum_nights  number_of_reviews last_review  \
0        Private room     83             180                  1  2013-10-21
1        Private room     81              90                 18  2014-12-26
2        Private room     69               6                 20  2015-10-01
3        Private room    206               1                 14  2019-08-11
4        Private room     94               1                 22  2019-07-28
...               ...    ...             ...                ...         ...
7902  Entire home/apt    100               3                  0         NaN
7903  Entire home/apt    550               6                  0         NaN
7904     Private room     58              30                  0         NaN
7905     Private room     56              14                  0         NaN
7906     Private room     65              90                  0         NaN

      reviews_per_month  calculated_host_listings_count  availability_365
0                  0.01                               2               365
1                  0.28                               1               365
2                  0.20                               2               365
3                  0.15                               9               353
4                  0.22                               9               355
...                 ...                             ...               ...
7902                NaN                              31                61
7903                NaN                              34               365
7904                NaN                               3               173
7905                NaN                               2                30
7906                NaN                               7               365

[7907 rows x 16 columns]

Data AFTER Replacing the Null Values With 0

In [7]:
sgData=sgData.fillna(0)
print(sgData)

            id                                               name    host_id  \
0        49091                  COZICOMFORT LONG TERM STAY ROOM 2     266763
1        50646                    Pleasant Room along Bukit Timah     227796
2        56334                                        COZICOMFORT     266763
3        71609                Ensuite Room (Room 1 & 2) near EXPO     367042
4        71896                    B&B  Room 1 near Airport & EXPO     367042
...        ...                                                ...        ...
7902  38105126  Loft 2 pax near Haw Par / Pasir Panjang. Free ...  278109833
7903  38108273                         3bedroom luxury at Orchard  238891646
7904  38109336    [ Farrer Park ] New City Fringe CBD Mins to MRT  281448565
7905  38110493          Cheap Master Room in Central of Singapore  243835202
7906  38112762  Amazing room with private bathroom walk to Orc...   28788520

      host_name neighbourhood_group neighbourhood  latitude  longitude  \
0     Francesca        North Region     Woodlands   1.44255  103.79580
1       Sujatha      Central Region   Bukit Timah   1.33235  103.78521
2     Francesca        North Region     Woodlands   1.44246  103.79667
3       Belinda         East Region      Tampines   1.34541  103.95712
4       Belinda         East Region      Tampines   1.34567  103.95963
...         ...                 ...           ...       ...        ...
7902      Belle      Central Region    Queenstown   1.27973  103.78751
7903       Neha      Central Region       Tanglin   1.29269  103.82623
7904      Mindy      Central Region       Kallang   1.31286  103.85996
7905      Huang      Central Region  River Valley   1.29543  103.83801
7906    Terence      Central Region  River Valley   1.29672  103.83325

            room_type  price  minimum_nights  number_of_reviews last_review  \
0        Private room     83             180                  1  2013-10-21
1        Private room     81              90                 18  2014-12-26
2        Private room     69               6                 20  2015-10-01
3        Private room    206               1                 14  2019-08-11
4        Private room     94               1                 22  2019-07-28
...               ...    ...             ...                ...         ...
7902  Entire home/apt    100               3                  0           0
7903  Entire home/apt    550               6                  0           0
7904     Private room     58              30                  0           0
7905     Private room     56              14                  0           0
7906     Private room     65              90                  0           0

      reviews_per_month  calculated_host_listings_count  availability_365
0                  0.01                               2               365
1                  0.28                               1               365
2                  0.20                               2               365
3                  0.15                               9               353
4                  0.22                               9               355
...                 ...                             ...               ...
7902               0.00                              31                61
7903               0.00                              34               365
7904               0.00                               3               173
7905               0.00                               2                30
7906               0.00                               7               365

[7907 rows x 16 columns]